!!!
%html{"ng-app" => "Todo"}
  %head
    %title Todo
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .main
      .sign_out
        - if user_signed_in?
          = link_to I18n.t('user.sign_out'), destroy_user_session_path, :method => :delete, class: "sign_out_button"
      - flash.each do |name, msg|
        = content_tag :div, msg, class: name
      = yield